__pycache__
.idea/scopes
.idea
.idea/scopes/scope_settings.xml
.idea/.name
.idea/dataSources.ids
.idea/dataSources.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/paragonizator.iml
.idea/sqldialects.xml
.idea/vcs.xml
.idea/workspace.xml
